@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
  background-color: #3f3f3f;
}

.quiz-app {
  width: 30rem;
  height: 35vh;
  padding: 10px;
  margin: 2rem auto;
  background-color: rgb(103, 121, 201);
  border-radius: 12px;
}
.quiz-app__control {
  max-width: 100%;
  height: 100%;
  width: 95%;
  margin: auto auto;
  text-align: center;
  padding: 10px;
}
.question-container h2 {
  color: rgb(255, 255, 255);
  font-size: 24px;
}
.question-container p {
  font-weight: bold;
  color: lightcyan;
}
.btn {
  padding: 5px 10px;
  text-align: center;
  background-color: #207ed6;
  font: inherit;
  border: 2px solid #276299;
  border-radius: 7px;
  color: white;
  font-weight: 500;
}
.options-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
}
.active {
  background-color: #bb3309;
}
